*.pyc

.idea
.gradle
*.iml
*.ipr
*.iws
*.ids
atlassian-ide-plugin.xml
.sonar-ide.properties
test-output/

*/tmp
*/modules
*/lib
*/test-result
*/logs
*/war
*/precompiled
*/target
*/build
*/out
*/*.iml
*/*.ipr
*/*.iws
*/atlassian-ide-plugin.xml
*/data/attachments
*/src/main/thrift/

*/*/tmp
*/*/modules
*/*/lib
*/*/test-result
*/*/logs
*/*/target
*/*/build
*/*/out
*/*/dist
*/*/*.iml
*/*/*.ipr
*/*/*.iws
*/*/atlassian-ide-plugin.xml
*/*/*.pyc

out/
target/
build/

/*.sql
/*.json
/*.xml
/*.txt
/*.js
web/src/main/webapp/WEB-INF/jetty-web.xml
.vagrant/
*.box
/nbproject/

.project
.settings/
*/.classpath
*/test-output/
*/.cache
*/.DS_Store
sql.sql
json.json
xml.xml
html.html

web/src/main/webapp/js/main-build.js

.DS_Store
*.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.DS_Store